<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Weather app</title>
</head>
<body>
  
      
        
       <div class="form">
        
        <form class="search" action="/" method="POST">
        <h1 id="head">Weather</h1>
        <div class="flex-input">
        <label for="city">Enter City</label>
        <input type="text" name="city" id="city" placeholder="City name" required/>
    </div>
        <input type="submit" value="SUBMIT"/>
        <%= data.content %>
    </form>

</div>


</body>
</html>
</html>